{% extends 'base.html' %} {% block title %} Home {% endblock %}
{% block content %}

<form action="" method="POST">
    <h3 align="center">Login</h3>
    <div class="form-group">
        <label for="email">Email</label>
        <input type="text" class="form-control" id="email" placeholder="Enter Email" name="email">
    </div> 

    <div class="form-group">
        <label for="email">Password</label>
        <input type="password" class="form-control" id="email" placeholder="Enter Password" name="password">
    </div>
    <div align="center" class="form-group">
        <button class="btn btn-primary" type="submit" id="login">Login</button>
    </div>
</form>
    
    
{% endblock %}
    